<h1>Order ID: <%= @order.id %></h1>
<h1>Order Quanity: <%= @order.quantity %></h1>

<h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
<h3>Tax: <%= @order.tax %></h3>
<h3>Total: 3<%= @order.total %></h3>

<h5><%= @product.name %></h5>
