<center><h1> Welcome to Fakezon </h1></center>

<section>
  <div class="row">

   <% @products.each do |product| %>

      <div class="col-sm-4">
        <div class="product_single">
          <h2 class="product_header"><%= product.name %></h2>
          <p>Price: <%= number_to_currency(product.price) %></p>
           <a href="/products/<%= product.id %>" title="View Product"> <!-- when you click on the image it takes you to it page -->
           <img src="<%= product.image %>" alt="product.name" class="img-responsive product_single_image"></a>
           <p>Description: <%= product.description %></p>
        </div>
      </div>
    <% end %>
