<center><section>
    <div class="row">
      <div class="col-lg-8 col-sm-offset-2">
        <div class="product_single">
           <h3><%= @product.name %><h3>
           <p>Price: <%= number_to_currency(@product.price) %></p>
           <img src="<%= @product.image %>" alt="" class="img-thumbnail">
          <h5><%= @product.description %></h5>
          <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
          <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
         </div>
    </div>
  </div>
</section>
<%= form_tag("/carted_products", method: 'post') do %>
    <%= label_tag(:quantity) %>
    <%= text_field_tag(:quantity) %>
    <%= hidden_field_tag(:product_id, @product.id) %>
   <%= submit_tag("Add to Cart") %></center>
  <% end %>
